{% extends 'layout.html' %}

{% block content %}
    <div id="home">
        <h1>Welcome to the Yu-Gi-Oh! Card Viewer</h1>

        <p>This project allows you to view all the Yu-Gi-Oh! cards! <br> You can browse through the different categories: Monsters , Spells and Traps</p>

        <p><strong>Project Features:</strong> Browse Monsters, Spells, and Trap cards, search for specific cards, view detailed card information and access other resources through the Yu-Gi-Oh! Wiki.</p>

        <p>Project GitHub: <a href="https://github.com/Dixasterous/Yu-Gi-Oh--card-viewer" target="_blank">GitHub Repo</a></p>

    </div>
{% endblock %}
