{% extends 'layout.html' %}
{% block content %}


    <div class="search-container">
        <form action="#" method="get" class="search-form">
            <input type="search" name="query" placeholder="Search for a spell..." class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>


    <div id="spells">
        {% for spell in spells %}
            <div>
                <h2 id="{{spell.name}}">{{spell.name}}</h2>
                <a href="https://yugioh.fandom.com/wiki/{{spell['name']}}" target="_blank" title="View on Yu-Gi-Oh! Wiki">
                    <img src="{{ spell['card_images'][0]['image_url'] }}" alt="{{ spell['name'] }}" style="max-width: 150px;" loading="lazy">
                </a>
                <p><em>{{spell.type}}</em></p>
                <p>{{spell.desc}}</p>
            </div>
        {% endfor %}
        {% if query %}
            {% if spell %}
                <p><big>Showing results for <b>{{ query }}</b></big></p>
                <a href="{{ url_for('spells') }}"><button class="search-button">Back to all spells</button></a>
            {% else %}
                <p><big>No result for <b>{{ query }}</b></big></p>
                <a href="{{ url_for('spells') }}"><button class="search-button">Back to all spells</button></a>
            {% endif %}   
        {% endif %}
    </div>

{% endblock content %}
