{% extends 'layout.html' %}
{% block content %}


    <div class="search-container">
        <form action="#" method="get" class="search-form">
            <input type="search" name="query" placeholder="Search for a trap..." class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>


    <div id="traps">
        {% for trap in traps %}
            <div>
                <h2 id="{{trap.name}}">{{trap.name}}</h2>
                <a href="https://yugioh.fandom.com/wiki/{{trap['name']}}" target="_blank" title="View on Yu-Gi-Oh! Wiki">
                    <img src="{{ trap['card_images'][0]['image_url'] }}" alt="{{ trap['name'] }}" style="max-width: 150px;" loading="lazy">
                </a>
                <p><em>{{trap.type}}</em></p>
                <p>{{trap.desc}}</p>
            </div>
        {% endfor %}
        {% if query %}
            {% if trap %}
                <p><big>Showing results for <b>{{ query }}</b></big></p>
                <a href="{{ url_for('traps') }}"><button class="search-button">Back to all traps</button></a>
            {% else %}
                <p><big>No result for <b>{{ query }}</b></big></p>
                <a href="{{ url_for('traps') }}"><button class="search-button">Back to all traps</button></a>
            {% endif %}   
        {% endif %}
    </div>

{% endblock content %}
